test.py
.vscode
NON-CODE
INPUT_DATA/__pycache__
INPUT_DATA/FirstNames.txt
INPUT_DATA/LastNames.txt
INPUT_DATA/periods.json
INPUT_DATA/Pupil_data.xlsx
INPUT_DATA/Pupil_Timetable_Data.xlsx
INPUT_DATA/Set_Timetable_Data.xlsx
.venv
__pycache__
WEBPAGE/__pycache__
WEBPAGE/static/img