<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style-teacherTiles.css') }}">
    <title>Teacher</title>
</head>
<body>
    <form method="get">
        <input type="SearchName" class="SearchName" id="SearchName" name="SearchName" placeholder="Search Name">

        <select name="limit" id="limit" class="limit" onchange="this.form.submit()">
            <option value="20" {% if request.args.get("limit") == "20" %} selected {% endif %} >Show 20</option>
            <option value="50" {% if request.args.get("limit") == "50" %} selected {% endif %} >Show 50</option>
            <option value="100" {% if request.args.get("limit") == "100" %} selected {% endif %} >Show 100</option>
            <option value="1000" {% if request.args.get("limit") == "1000" %} selected {% endif %} >Show All</option>
        </select>
    </form>

    <div class="cards">
        {% if not people %}
            <p>No results found.</p>
        {% else %}
            {% for person in people %}
            <div class="card">
                {% set image_file = person[0] if person[0] else 'None.png' %}
                <img class="img" src="{{ url_for('static', filename='img/' + image_file) }}" alt="Image">
                <div class="card-text">
                    <h2>{{ person[1] }} {{ person[2] }}</h2>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    </div>
</body>
</html>
