<!DOCTYPE html>
<html>
<head>
    <title>Student Timetable</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-home.css') }}">
</head>
{% set days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %}
{% set weeks = ['Week A', 'Week B'] %}
<body>
    <h2>Your Timetable</h2>
    <table>
        <thead>
            <tr>
                <th>Day</th>
                <th>Start</th>
                <th>End</th>
                <th>Subject</th>
                <th>Location</th>
                <th>Week</th>
                <th>Teacher</th>
            </tr>
        </thead>
        <tbody>
            {% for row in timeTable %}
            <tr>
                <td>{{ days[row[0]]}}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ weeks[row[5]-1] }}</td>
                <td>{{ row[6] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
