<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style-teacherPage.css') }}">
    <title>Teacher</title>
</head>
<body>
    <div>
        <button class="settings-btn" onclick="Panel()">Settings ⚙️</button>
        <div id="sidePanel" class="side-panel">
            <a href="{{ url_for('logout') }}">Logout</a>
            <a onclick="showChangePassword()">Change Password</a>
            <a onclick="showChangeImage()">Change Image</a>
        </div>

        <div id="changePasswordForm" class="change-password">
            <button class="close-modal" onclick="hideChangePassword()">×</button>
            <h3>Change Password</h3>
            <form method="post" action="{{ url_for('change_password') }}">
                <label for="current_password">Current Password:</label>
                <input type="password" id="current_password" name="current_password" required>

                <label for="new_password">New Password:</label>
                <input type="password" id="new_password" name="new_password" required>

                <label for="confirm_password">Confirm New Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>

                <input type="submit" value="Change Password">
            </form>
        </div>

        <div id="changeImageForm" class="change-image">
            <button class="close-modal" onclick="hideChangeImage()">×</button>
            <h3>Change Profile Pic</h3>
            <form method="post" action="{{ url_for('change_image') }}" enctype="multipart/form-data">
                <label for="imageUpload">Upload New Profile Pic:</label>
                <input type="file" id="imageUpload" name="imageUpload" accept="image/*" required>
                <input type="submit" value="Change Picture">
            </form>
        </div>

    </div>
    <h2>Teacher Page</h2>

    <button id="tileViewBtn" onclick="TileView()" style="background-color: rgba(103, 209, 61, 0.94)">Tile View</button>
    <button id="listViewBtn" onclick="ListView()" style="background-color: rgba(254, 255, 195, 1)">List View</button>
    <iframe id="teacher_tiles" src="{{ url_for('teacher_tiles') }}"></iframe>
    <iframe id="teacher_list" src="{{ url_for('teacher_list') }}" style="display: none;"></iframe>


    <script src="{{ url_for('static', filename='js/side-bar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/TeacherPage-scr.js') }}"></script>
</body>
</html>
