body {
    font-family: Arial;
    background-color: #f4f4f4;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

th {
    border: 1px solid #333;
    padding: 8px 12px;
    text-align: center;
}

td {
    border: 1px solid #333;
    padding: 8px 12px;
    text-align: center;
}

th {
    background-color: #333;
    color: white;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

.highlight {
    background-color: lightgreen;
    font-weight: bold;
}

.update-now {
    text-decoration: none;
    color: #333;
    text-align: center;
    font-weight: bold;
}

.summary-last {
    background-color: rgb(189, 56, 26);
    font-weight: bold;
}

.summary-now {
    background-color: lightgreen;
    font-weight: bold;
}

.summary-next {
    background-color: rgb(140, 235, 16);
    font-weight: bold;
}

.headder {
    background-color: rgb(82, 224, 160);
    font-weight: bold;
}

h1 {
    padding: 5px;
    color: #333;
    font-size: 30px;
    margin-bottom: 20px;
}

.container{
    width: 80%;
    margin: 20px auto;
    background-color: #847abd59;
    border-radius: 10px;
}

.btn {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.label {
    padding: 5px;
    width: 20%;
    font-size: 25px;
    height: 10px;
    font-weight: bold;
    margin-right: 10px;
}

.dd {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 60%;
    box-sizing: border-box;
}

.settings-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1001;
}

.side-panel {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    z-index: 1000;
}

.side-panel a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    display: block;
    transition: 0.2s;
}

.side-panel a:hover {
    background-color: #ddd;
}

.change-password {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* why */
    background: #fff;
    border: 1px solid #ccc;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    z-index: 1002;
    width: 350px;
    border-radius: 8px;
}

.change-password input[type="password"]{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 12px;
    padding: 10px;
    font-size: 16px;
}

.change-password input[type="submit"] {
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 12px;
    padding: 10px;
    font-size: 16px;
}

.change-password .close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    border: none;
    background: none;
    cursor: pointer;
}

.change-image {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* why */
    background: #fff;
    border: 1px solid #ccc;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    z-index: 1002;
    width: 350px;
    border-radius: 8px;
}
.change-image .close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    border: none;
    background: none;
    cursor: pointer;
}

.TimeTable {
    display: none;
}

.TimeTable table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.TimeTable th, .TimeTable td {
    border: 1px solid #ccc;
    width: 15vw;
    vertical-align: top;
}

.TimeTable tbody {
    display: flex;
}

.TimeTable tbody tr {
    display: flex;
    flex: 1;
}

.TimeTable td {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 5px;
}


.lesson {
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.timeTable-View-button {
    width: 49%;
    background-color: lightgray;
    color: black;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.timeTable-View-button.active {
    background-color: green; /* selected when colord */
    color: white;
}
