body {
    font-family: Arial;
    background-color: #f4f4f4;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

th {
    border: 1px solid #333;
    padding: 8px 12px;
    text-align: center;
}

td {
    border: 1px solid #333;
    padding: 8px 12px;
    text-align: center;
}

th {
    background-color: #333;
    color: white;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

.highlight {
    background-color: lightgreen;
    font-weight: bold;
}

.update-now {
    text-decoration: none;
    color: #333;
    text-align: center;
    font-weight: bold;
}

.summary {
    background-color: rgb(224, 82, 160);
    font-weight: bold;
}

.headder {
    background-color: rgb(82, 224, 160);
    font-weight: bold;
}

h1 {
    padding: 5px;
    color: #333;
    font-size: 30px;
    margin-bottom: 20px;
}

.container{
    width: 80%;
    margin: 20px auto;
    background-color: #847abd59;
    border-radius: 10px;
}

.btn {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.label {
    padding: 5px;
    width: 20%;
    font-size: 25px;
    height: 10px;
    font-weight: bold;
    margin-right: 10px;
}

.dd {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 60%;
    box-sizing: border-box;
}
