iframe {
    width: 100%;
    height: 100vh;
}
.settings-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1001;
}

.side-panel {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    z-index: 1000;
}

.side-panel a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    display: block;
    transition: 0.2s;
}

.side-panel a:hover {
    background-color: #ddd;
}

.change-password {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* why */
    background: #fff;
    border: 1px solid #ccc;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    z-index: 1002;
    width: 350px;
    border-radius: 8px;
}

.change-password input[type="password"]{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 12px;
    padding: 10px;
    font-size: 16px;
}

.change-password input[type="submit"] {
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 12px;
    padding: 10px;
    font-size: 16px;
}

.change-password .close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    border: none;
    background: none;
    cursor: pointer;
}

.change-image {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* why */
    background: #fff;
    border: 1px solid #ccc;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    z-index: 1002;
    width: 350px;
    border-radius: 8px;
}
.change-image .close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    border: none;
    background: none;
    cursor: pointer;
}