body {
    font-family: Arial;
    background-color: #f4f4f4;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

th {
    border: 1px solid #333;
    padding: 8px 12px;
    text-align: center;
}

td {
    border: 1px solid #333;
    padding: 8px 12px;
    text-align: center;
}

th {
    background-color: #333;
    color: white;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

.highlight {
    background-color: lightgreen;
    font-weight: bold;
}

.update-now {
    text-decoration: none;
    color: #333;
    text-align: center;
    font-weight: bold;
}

.summary {
    background-color: rgb(224, 82, 160);
    font-weight: bold;
}

.headder {
    background-color: rgb(82, 224, 160);
    font-weight: bold;
}
